@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 800px;
}

input {
  margin-top: 850px;
}

.custom-point-style {
  fill: #ff0000; /* Rode vulkleur */
  stroke: #000000; /* Zwarte lijnkleur */
  stroke-width: 2px; /* Lijnbreedte van 2 pixels */
}